.visible-mobile {
  display: none;
}
@media (max-width: 1000px) {
  .visible-mobile {
    display: inline-block;
  }
}

body {
  min-height: 100vh;
}

.wrapper {
  height: 100vh;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
}

.left-column {
  width: 345px;
  height: 100%;
  background-color: #222529;
  color: white;
  overflow-y: scroll;
  position: relative;
  padding-top: 59px;
  border-right: 1px solid #595B5E;
}
@media (max-width: 1000px) {
  .left-column {
    display: none;
  }
  .left-column .msg__info {
    width: calc(90% - 20px);
  }
  .left-column .msg__name {
    max-width: calc(100% - 80px);
  }
  .left-column .msg__text {
    max-width: calc(100% - 80px);
  }
}
.left-column__header {
  width: 345px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #222529;
  z-index: 1;
  border-right: 1px solid #595B5E;
}
.left-column__search {
  width: 100%;
  padding: 10px;
  display: flex;
  border-bottom: 1px solid #595B5E;
}
.left-column__menu {
  margin-right: 10px;
}
.left-column__close {
  margin-left: 10px;
}
.left-column.open {
  display: block;
  position: fixed;
  width: 100%;
  z-index: 2;
}
.left-column.open .left-column__header {
  width: 100%;
}

.center-column {
  flex: 1;
  position: relative;
}
.center-column__header {
  height: 59px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  border-bottom: 1px solid rgba(89, 91, 94, 0.3);
}
@media (max-width: 1000px) {
  .center-column__header {
    padding-left: 10px;
  }
}
.center-column__messages {
  height: calc(100% - 142px);
  color: black;
  padding: 10px;
  padding-right: 20px;
  overflow-y: scroll;
}
.center-column__send {
  display: flex;
  align-items: end;
  padding: 10px;
  border-top: 1px solid rgba(89, 91, 94, 0.3);
}
.center-column__textarea {
  resize: none;
  margin: 0 10px;
}
.center-column .message-blue {
  position: relative;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #cff4fc;
  width: 45%;
  text-align: left;
  border: 1px solid #b6effb;
  border-radius: 10px;
}
@media (max-width: 1300px) {
  .center-column .message-blue {
    width: 85%;
  }
}
.center-column .message-orange {
  position: relative;
  margin-bottom: 20px;
  margin-left: 55%;
  padding: 10px;
  background-color: #fff3cd;
  width: 45%;
  text-align: left;
  border: 1px solid #ffecb5;
  border-radius: 10px;
}
@media (max-width: 1300px) {
  .center-column .message-orange {
    width: 85%;
    margin-left: 15%;
  }
}
.center-column .message-name {
  font-weight: bold;
  margin-bottom: 5px;
}
.center-column .message-content {
  padding: 0;
  margin: 0;
  padding-bottom: 21px;
}
.center-column .message-timestamp-right {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 14px;
  opacity: 0.5;
}
.center-column .message-timestamp-left {
  position: absolute;
  left: 10px;
  bottom: 5px;
  font-size: 14px;
  opacity: 0.5;
}
.center-column .message-blue:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 15px solid #cff4fc;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  top: 0;
  left: -15px;
}
.center-column .message-blue:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 17px solid #b6effb;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  top: -1px;
  left: -17px;
}
.center-column .message-orange:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 15px solid #fff3cd;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  bottom: 0;
  right: -15px;
}
.center-column .message-orange:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 17px solid #f8e896;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  bottom: -1px;
  right: -17px;
}

.right-column {
  width: 345px;
  padding: 10px;
  border-left: 1px solid rgba(89, 91, 94, 0.3);
  height: 100%;
}
@media (max-width: 1000px) {
  .right-column {
    display: none;
  }
}
.right-column.open {
  display: block;
  position: fixed;
  width: 100%;
  z-index: 3;
  background-color: white;
}

.right-column-item {
  margin-bottom: 25px;
}
.right-column-item__title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.right-column-item__title i {
  margin-right: 10px;
}
.right-column-item__text {
  opacity: 0.5;
}

.msg {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}
.msg._active {
  background-color: #0d6efd;
}
.msg__avatar {
  border-radius: 50%;
  min-width: 50px;
  height: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
  position: relative;
}
.msg__content {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.msg__name {
  max-width: 210px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.msg__time {
  font-weight: normal;
  opacity: 0.5;
  font-size: 14px;
}
.msg__text {
  max-width: 260px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0.5;
  font-size: 15px;
}
.msg__unread {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #0d6efd;
  border: 2px solid #222529;
  position: absolute;
  right: 0;
  bottom: 0;
}